.row
  .col-md-6
    = form_for @question do |f|
      - if @question.errors.any?
        #error_explanation
          %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
          %ul
            - @question.errors.full_messages.each do |msg|
              %li= msg

      .field
        = f.label :title
        = f.text_field :title, :required => true, :placeholder => "Enter Subject"
      .field
        = f.label :body
        = f.text_area :body, :required => true, :placeholder => "Enter Question Details"
      .field
        = f.hidden_field :user_id, :value => "#{current_user.id}"
      .field
        = f.label "Tags"
        = f.text_field :tags_list, :placeholder => "Enter tags separated by commas"
      .actions
        = f.submit 'Save', :class => "btn btn-primary"

