%h1 Questions

%br/
%h4
  tag:
  %strong
    = @tag.name

%br/

= link_to 'Back', :back
|
= link_to 'New Question', new_question_path

%table
  %tr
    %th Votes
    %th Answers
    %th Title
    %th Tags
    %th Posted by
    %th Date Posted
    %th
    %th
    %th

  - @question_arr.each do |question|
    %tr
      %td= question.total_votes
      %td= question.answers.count
      %td= question.title
      %td
        %i
          = simple_format(link_tag(question.tags_list))
      %td= question.user.full_name
      %td= time_ago_in_words(question.created_at) + " ago"
      %td= link_to 'Show', question
      %td= link_to 'Edit', edit_question_path(question)
      / -if current_user.id == question.user_id
      %td= link_to 'Delete', question, :method => :delete, :data => { :confirm => 'Are you sure?' }

