%h1 Questions

= link_to 'New Question', new_question_path

%br/
%br/
%table
  %tr
    %th Votes
    %th Answers
    %th Title
    %th Posted by
    %th Date Posted
    %th
    %th
    %th

  - @questions.each do |question|
    %tr
      %td= question.total_votes
      %td= question.answers.count
      %td= question.title
      %td= question.user.full_name
      %td= time_ago_in_words(question.created_at) + " ago"
      %td= link_to 'Show', question
      %td= link_to 'Edit', edit_question_path(question)
      / -if current_user.id == question.user_id
      %td= link_to 'Delete', question, :method => :delete, :data => { :confirm => 'Are you sure?' }
