%h2
  = @question.title
%p
  %b.pull-right 
    by: 
    = @question.user.full_name
  %br/

%hr{:style => 'border: 1px solid grey'}

%h4 
  = simple_format @question.body

%hr{:style => 'border: 1px solid grey'}

%h5
  #answer_div
    %span#answer_count
      -count = @question.answers.count
      #{count} 
    %span#answer_string
      -if count > 1
        Answers
      -else
        Answer 


- @answers.each do |answer|
  = answer.body
  %i.pull-right
    = "-" + answer.user.full_name
  %hr

  / %h5
  /   #comment_div
  /     %span#comment_count
  /       -count = @question.comments.count
  /       #{count} 
  /     %span#comment_string
  /       -if count > 1
  /         Comments
  /       -else
  /         Comments 

/ #div_answers
/   =render :collection => @answers, :locals =>{:comment => @comment, :question => @question}, :partial => 'answers/answer'
%h5
  Add an answer:

  =render :partial => 'replies/form'


  -if (@question.user.id == @current_user) 
    =link_to 'Edit Question', edit_question_path(@question) 
=link_to 'Back to Questions', questions_path, :class=> 'btn btn-default'

/ = link_to 'Edit', edit_question_path(@question)
/ \|
/ = link_to 'Back', questions_path
