%blockquote
  %h3{:style => 'background: rgba(0,0,50,0.1)'}
    = render :partial => 'replies/vote', :locals => {:question => @question, :voteable => answer, :type => "answer"}
    = answer.body
  %footer.pull-right
    = answer.user.full_name + " " + answer.created_at.to_formatted_s(:short)

  %blockquote
    - answer.comments.each do |comment|
      = render :partial => 'replies/vote', :locals => {:question => @question, :voteable => comment, :type => "comment"}

      = comment.body
      %blockquote
        %footer
          = comment.user.full_name + " " + comment.created_at.to_formatted_s(:short)
  
  .panel-group#accordion
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{:'data-toggle'=>:collapse, :'data-parent' => "#accordion",:href => "#collapse#{answer.id}"}
            Add Comment
      .panel-collapse.collapse{:id => "collapse#{answer.id}"}
        .panel-body
          =render :partial => 'replies/form_comment', :locals => {:answer => answer}
