%p
  = form_for [answer,Reply.new], :url => answer_comments_path(answer,Reply.new) do |f|
    .field
      = f.text_area :body, :required => true, :id => 'comment_body'

    .field
      = f.hidden_field :user_id, :value => "#{current_user.id}"
    .actions
      = f.submit 'Submit Comment', :class => "btn btn-primary"
