%p
  = form_for [@question, Reply.new], :url => question_answers_path(@question) do |f|
    .field
      = f.text_area :body, :required => true, :style => "height:200px";

    .field
      / = f.label :user_id
      = f.hidden_field :user_id, :value => "#{current_user.id}"
    .actions
      = f.submit 'Submit Answer', :class => "btn btn-primary"
