%h3 Sign Up

= form_for @user, :class => "form-horizontal" do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited
        this article from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :first_name
    %br/
    = f.text_field :first_name , required: true
  %p
    = f.label :last_name
    %br/
    = f.text_field :last_name , required: true
  %p
    = f.label :email
    %br/
    = f.email_field :email , required: true
  %p
    = f.label :password
    %br/
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %p
    = f.submit "Sign Up"
