.whole_answer{:id=>"whole_answer_#{answer.id}", :style => :'background-color: #f9f9f9'}
  %blockquote
    %p.media-body.text-primary
      %strong
        Answer:
        =simple_format(answer.body)
    %footer
      %p.bg-info
        From:
        =answer.user.username
      %p
        Answered on:
        =answer.created_at.to_formatted_s(:short) 
  -@answer = answer
  .vote{:id => "answer_#{answer.id}"}
    =render "answers/vote"
  
  %h6
    %i
      .panel-group#accordion
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{:'data-toggle'=>:collapse, :'data-parent' => "#accordion",:href => "#collapse#{answer.id}"}
                %span{:id => "comment_count_#{answer.id}"}
                  -count = answer.comments.count
                  #{count} 
                %span{:id => "comment_string_#{answer.id}"}
                  -if count > 1
                    Comments
                  -else
                    Comment
          .panel-collapse.collapse.in{:id => "collapse#{answer.id}"}
            .panel-body
              .well.well.sm
                .comments{:id => "div_comments_for_answer_#{answer.id}"}
                  =render answer.comments
      %br
    %h4.text-primary
      Add comment:
    %h6
      =render :partial => "comments/form", :locals => {:question => @question,:answer => answer, :comment => @comment}
  -if (answer.user == session[:current_user] || @question.user ==  session[:current_user]) 
    =link_to :'Destroy Answer', [@question, answer], method: :delete, data: { confirm: :'Are you sure?' }, :class => 'btn btn-danger delete_answer'+answer.id.to_s, :remote => true
  %hr{:style => :"border: 2px solid black"}
