!!!
%html
  %head
    %title StackUnderflu
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "/"} Stackunderflu
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to "Home", "/"
            %li
              %a.btn.btn-default{href: "/sessions/new"}
                Log
                = current_user ? "out, " + current_user.last_name.capitalize : "in"

    .container
      - flash.each do |name, msg|
        .alert.alert-info.alert-dismissible{role: "alert"}
          %button.close{"data-dismiss" => "alert", type: "button"}
            %span{"aria-hidden" => "true"} ×
            %span.sr-only Close
          %strong 
            = content_tag :div, msg, :id => "flash_#{name}"

      = yield


    .footer
      .container
        %p.text-muted
          Copyright ©2014 penyah
    
